body {
    overflow-y: scroll;
    overflow-x: hidden;
}

.addPageComponent {
    display: flex;
    flex-direction: column;
    width: 100vw;
    align-items: center;
    justify-content: center;
    overflow-y: scroll;
    overflow-x: hidden;
}